@model FundsLibrary.InterviewTest.Common.FundManager

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<div class="fund-manager-details">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biography)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagedSince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagedSince)
        </dd>

        <dt>
            <b>Managed Funds</b>
        </dt>

        <dd>
            @foreach (var ManagedSecurity in Model.GetManagedSecurities())
            {
                @ManagedSecurity.FundName<span>: </span>
                @ManagedSecurity.BaseCurrency
                <br>
            }
        </dd>



    </dl>
</div>
<div class="row">
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default col-sm-1" })
    <span class="col-sm-4"></span>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success col-sm-1" })
</div>
<br/>
<div class="row">
    <span class="col-sm-5"></span>
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger col-sm-1" })
</div>